{% extends 'blog/base.html' %}
{% load static %}
{% block main %}

    <!-- Page Header -->
  <header class="masthead" style="background-image: url('{% static 'blog/img/home-bg.jpg' %}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1 class="font-sahel">اوریفلیم پریسا</h1>
          </div>
        </div>
      </div>
    </div>
  </header>
<!-- Main Content -->
<div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
          {% for article in object_list %}
              <div class="post-preview">
                <a href="{% url 'blog:detailArticle' article.slug %}">
                    <h2 class="post-title font-sahel">
                     {{ article.title }}
                    </h2>
                    <h3 class="post-subtitle font-sahel">
                     {{ article.description | truncatewords:30}}
                    </h3>
                </a>
                <p class="post-meta font-sahel">نوشته شده توسط آریسا
                {{ article.jpublish }}</p>
                <div class="font-sahel">
                    {% for category in article.category_published.all %}
                        <a href = "{% url 'blog:categoryArticle' category.slug %}"> #{{ category.title }}</a>
                    {% endfor %}
                </div>
              </div>
            <hr>
          {% endfor %}
        <!-- Pager -->
       {% if is_paginated %}
        <div class="clearfix pager_botton">
          {% if page_obj.has_previous %}
            <a class="btn btn-primary float-right ml-5" href="{% url "blog:home" page_obj.previous_page_number %}"> پست های جدید &rarr;</a>
          {% endif %}
          {% if page_obj.has_next %}
            <a class="btn btn-primary float-right" href="{% url "blog:home" page_obj.next_page_number %}">پست های قدیمی &larr;</a>
          {% endif %}
        </div>
       {% endif %}
      </div>
    </div>
  </div>

{% endblock %}
